.body {
  margin: 0px;
  padding: 0px 0px 0px;
  font-family: Arial, sans-serif;
  background-color: rgb(227,231,235);
}

.nav {
  padding: 0px 0px 0px;
  background-color: #F4F3F3;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  margin: 0px 70px 0px;
}

.logo img {
  height: 30px;
  width: auto;
  margin-right: 30px;
  padding: 10px 20px 30px; 
}

.menu {
  display: flex;
  margin-left: auto;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  font-weight: bold; /* Add this line to make the text bold */
}

.nav-link:hover {
  background-color: #555;
}

.toggle-btn {
  display: none;
  font-size: 20px;
  background-color: #333;
  color: #000000;
  border: none;
  cursor: pointer;
}
.btn-contact {
  margin:20px 70px 20px;
}

@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    
  }

  .menu {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-link {
    text-align: center;
    font-weight: normal; /* Reset font weight for smaller screens */
  }

  .toggle-btn {
    display: block;
  }
  
  .nav-link :active {
  font-weight: bold;
  }
  .card {
    text-align: center;
  }
}
 